Gemfile.lock
tmp/*
!tmp/.keep

# RubyMine project files
/.idea/*

# Ignore all example Rails app logfiles and tempfiles.
/test/support/cloud_datastore_rails_app/log
!/test/support/cloud_datastore_rails_app/log/.keep
/test/support/cloud_datastore_rails_app/tmp
/test/support/cloud_datastore_rails_app/public/assets/*