Gemfile.lock
tmp/*
!tmp/.keep
pkg

# RubyMine project files
/.idea/*

# Ignore all example Rails app logfiles and tempfiles.
/test/support/datastore_example_rails_app/log/*
!/test/support/datastore_example_rails_app/log/.keep
/test/support/datastore_example_rails_app/tmp/*
!/test/support/datastore_example_rails_app/tmp/.keep
/test/support/datastore_example_rails_app/public/assets/*